@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');

$fontFamily: 'Bebas Neue', cursive;

$fontSizeSmall: 1em;
$fontSizeMedium: 2em;
$fontSizeBig: 3em;


